html {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    color: #fff; 
    margin: 0; 
    text-align: center;
    text-transform: uppercase;  
}

input {
    border-radius: 50px;  
    border-style: none;
    font-size: 1.0em;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

button {
    background-color: #0c243b;
    border-radius: 50px;
    border-style: none;
    color: #fff;
    font-weight: 600;
    height: 50px;
    margin-left: 10px;
    width: 50px; 
}

.container {
    height: 200px;
    margin: 0 auto;
    padding-top: 200px;
    width: 600px;  
}

.hidden {
    display: none;
}

.changed {
    margin-top: -190px;
    animation-name: ascend;
    animation-duration: 1s;   
    font-size: 1em;
}

@keyframes ascend {
    from {
        margin-top: 0;
        font-size: 2em;
    }
    to {
        margin-top: -190px;
        font-size: 1em
    }
  }

